<%
    var page = page || {};
    page.title = 'Archives';
    page.active = 2;
%>

<%- include("head", {page: page}) %>
<div class="simple-body">
    <div class="simple-body-main">
        <article class="simple-article">
            <dl>
            <% for(let key in archives) { 
                if(archives.hasOwnProperty(key)) {
                    let month = archives[key];
            %>
                    <h3><time><%=key%></time></h3>
            <%
                    for(let k in month) {
                        if(month.hasOwnProperty(k)) {
            %>
                            <dt><%=k%></dt>
            <%
                            let pages = month[k];
                            pages.forEach((page, index) => {
            %>
                                <dd><a href="<%=page.url%>" title="<%=page.title%>"><%=page.title%></a></dd>
            <%
                            })
                        }
                    }

                }
            }
            %>
            </dl>
        </article>
    </div>
    <%- include("sidebar") %>
</div>
<%- include("foot") %>