<%
    var page = page || {};
    page.title = 'Archives';
    page.active = 2;
%>

<%- include("head", {page: page}) %>
<div class="simple-body">
    <div class="simple-body-main">
        <article class="simple-article">
            <form id="form" class="simple-form">
                <input type="search" id="search" name="serach" placeholder="Search Archive(YYYY/MM/DD)">
            </form>
            <div class="simple-archives">
                <% for(let year in archives) { 
                    if(archives.hasOwnProperty(year)) {
                        let months = archives[year];
                %>
                <dl class="simple-archives-dlist">
                    <div class="year"><h3><%=year%></h3></div>
                <%
                        for(let month in months) {
                            if(months.hasOwnProperty(month)) {
                %>
                    <dt class="month"><%=month%></dt>
                <%
                                let pages = months[month];
                                pages.forEach((page, index) => {
                %>
                    <dd><a href="<%=page.url%>" title="<%=page.title%>"><%=page.title%></a></dd>
                <%
                                })
                            }
                        }
                %>
                </dl>
                <%
                    }
                }
                %>
            </div>
        </article>
    </div>
    <%- include("sidebar") %>
</div>
<%- include("foot") %>