<%- include("head") %>
<%- include("header") %>
<div id="article" class="article">
    <ul class="index-ulist">
        <% lists.forEach(function(item, index){ %>
        <li>
            <span>index</span>
            <a href="<%= item.url %>"><%= item.title %></a><span><%= item.date %></span>
        </li>
        <% }) %>
    </ul>
</div>
<%- include("footer") %>
<%- include("foot") %>