<%
    var page = page || {};
    page.title = 'Tags';
    page.active = 2;
%>
<%- include("head", {page: page}) %>
<div class="simple-body">
    <div class="simple-body-main">
        <article class="simple-article">
            <div class="simple-category">
                <dl>
                    <% for(var key in tags) { if(tags.hasOwnProperty(key)) { let items = tags[key]; %>    
                        <dt><%=key %></dt>
                        <% items.forEach((page, index) => { %>
                            <dd><a href="<%=page.url%>" title="<%=page.title%>"><%=page.title%></a></dd>
                        <% }); %>
                    <% }} %>
                </dl>
            </div>
        </article>
    </div>
    <%- include("sidebar") %>
</div>
<%- include("foot") %>