<%- include("head") %>
<%- include("header") %>
<div id="article" class="article">
    <header class="article-header">
        <h1><%= post.title %></h1>
        <h4><%= post.date %>-<%= post.author %></h4>
    </header>
    <section class="article-body">
        <%- post.body %>
    </section>
    <footer class="article-footer">
        文章结尾
    </footer>
</div>
<%- include("footer") %>
<%- include("foot") %>